@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;600;700&display=swap");
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  background-color: #fafafa;
  font-family: "Nunito", sans-serif;
}

h2 {
  margin-bottom: 20px;
}

h3 {
  margin-bottom: 15px;
  color: #495057;
}

hr {
  margin: 30px 0;
  background-color: #e9ecef;
  height: 1px;
  border: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.container {
  padding: 30px 40px;
}

.select {
  position: relative;
  width: 250px;
}
.select__input {
  padding: 12px 14px;
  width: 100%;
  background-color: #ffffff;
  border: none;
  border: 2px solid #ffffff;
  border-radius: 5px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;
          box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;
  outline: none;
  cursor: pointer;
}
.select__input:focus {
  border-color: #00a7e1;
}
.select__input::-webkit-input-placeholder {
  color: #cccccc;
}
.select__input::-moz-placeholder {
  color: #cccccc;
}
.select__input:-ms-input-placeholder {
  color: #cccccc;
}
.select__input::-ms-input-placeholder {
  color: #cccccc;
}
.select__input::placeholder {
  color: #cccccc;
}
.select__input::-moz-selection {
  background-color: #ffffff;
}
.select__input::selection {
  background-color: #ffffff;
}

.options {
  position: absolute;
  top: 130%;
  left: 0;
  width: 100%;
  background-color: #ffffff;
  border-radius: 5px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;
          box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;
  overflow: hidden;
}
.options__item {
  padding: 14px 14px;
  -webkit-transition-property: background, color;
  transition-property: background, color;
  -webkit-transition: 200ms ease-in-out;
  transition: 200ms ease-in-out;
  cursor: pointer;
}
.options__item:hover {
  color: #ffffff;
  background-color: #00a7e1;
}

.arrow-down {
  position: absolute;
  top: 50%;
  right: 4%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: -webkit-transform 200ms ease-in-out;
  transition: -webkit-transform 200ms ease-in-out;
  transition: transform 200ms ease-in-out;
  transition: transform 200ms ease-in-out, -webkit-transform 200ms ease-in-out;
  color: #cccccc;
  pointer-events: none;
}
.arrow-down.rotate {
  -webkit-transform: translateY(-50%) rotate(180deg);
          transform: translateY(-50%) rotate(180deg);
}

.common {
  margin-bottom: 20px;
}

.check {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.check:not(:last-child) {
  margin-bottom: 5px;
}
.check__input:checked + .check__box {
  border-color: #00a7e1;
  background-color: #00a7e1;
  background-image: url("../images/check-icon.svg");
  background-size: contain;
  background-origin: content-box;
  background-repeat: no-repeat;
}
.check__input:focus + .check__box {
  -webkit-box-shadow: 0 0 0 2px #70e000;
          box-shadow: 0 0 0 2px #70e000;
}
.check__input:disabled + .check__box {
  border-color: #cccccc;
}
.check__input:checked:disabled + .check__box {
  background-color: #cccccc;
}
.check__box {
  margin-right: 7px;
  width: 16px;
  height: 15px;
  background-color: #ffffff;
  border: 2px solid #000000;
  border-radius: 3px;
  -webkit-transition-property: background, border-color;
  transition-property: background, border-color;
  -webkit-transition: 200ms ease-in-out;
  transition: 200ms ease-in-out;
}

.toggle {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0px 5px;
  height: 28px;
  width: 52px;
  background-color: #cccccc;
  border-radius: 50px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;
          box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;
  -webkit-transition: background 200ms ease-in-out;
  transition: background 200ms ease-in-out;
  cursor: pointer;
}
.toggle__input:checked + .toggle .toggle__ball {
  -webkit-transform: translateX(22px);
          transform: translateX(22px);
}
.toggle__input:checked + .toggle {
  background-color: #00a7e1;
}
.toggle__ball {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  border-radius: 50%;
  -webkit-transition: -webkit-transform 200ms ease-in-out;
  transition: -webkit-transform 200ms ease-in-out;
  transition: transform 200ms ease-in-out;
  transition: transform 200ms ease-in-out, -webkit-transform 200ms ease-in-out;
}

.hamburger {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 2px;
  background-color: #fff;
  border: 2px solid #00a7e1;
  border-radius: 0.3rem;
  -webkit-box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;
          box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;
  cursor: pointer;
}
.hamburger[aria-expanded=true] .line {
  -webkit-transition: y 200ms ease-in, rotate 200ms ease-in 200ms, opacity 0ms 200ms;
  transition: y 200ms ease-in, rotate 200ms ease-in 200ms, opacity 0ms 200ms;
}
.hamburger[aria-expanded=true] :is(.hamburger__icon--top, .hamburger__icon--bottom) {
  y: 45;
}
.hamburger[aria-expanded=true] + .cat-img {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}
.hamburger[aria-expanded=true] .hamburger__icon--top {
  rotate: -45deg;
}
.hamburger[aria-expanded=true] .hamburger__icon--middle {
  opacity: 0;
}
.hamburger[aria-expanded=true] .hamburger__icon--bottom {
  rotate: 45deg;
}
.hamburger__icon {
  fill: #00a7e1;
}

.line {
  -webkit-transition: y 200ms ease-in 200ms, rotate 200ms ease-in, opacity 0ms 200ms;
  transition: y 200ms ease-in 200ms, rotate 200ms ease-in, opacity 0ms 200ms;
  -webkit-transform-origin: center;
          transform-origin: center;
}

.cat-img {
  position: absolute;
  bottom: 0;
  left: 0;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: 200ms ease-in-out;
  transition: 200ms ease-in-out;
}/*# sourceMappingURL=main.css.map */